@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
h1 {
  margin: 0;
  width: 100%;
  text-align: center;
}

h1 img {
  padding: 20px;
  width: 200px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 4px 4px inset #c0c0c0c0;
          box-shadow: 0px 4px 4px inset #c0c0c0c0;
  font-size: 18px;
}

.home__cities {
  border: none;
  padding: 10px;
  background-color: transparent;
}

.home__location i {
  padding: 0 15px;
  color: #020202;
}

.home__location p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
}

::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

:-ms-input-placeholder {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

::-ms-input-placeholder {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.home__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.home__slogan h2 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  padding: 20px 10px;
}

.home__slogan p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 15px 20px 15px;
}

.btn {
  text-align: center;
  padding: 16px;
  width: 200px;
  border-radius: 50px;
  -webkit-box-shadow: -4px 4px 8px #9c9a9a93;
          box-shadow: -4px 4px 8px #9c9a9a93;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
}

.btn a {
  color: #ffff;
}

.btn:hover {
  -webkit-box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.322);
          box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.322);
}

.return {
  position: absolute;
  left: 30px;
  top: 20px;
  color: black;
  font-size: 30px;
}

.ban img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.choice h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.choice__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 35px;
  padding-bottom: 50px;
}

.choice__btn ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  list-style: none;
  counter-reset: step;
  padding: 0;
  margin: 0;
}

li::before {
  position: relative;
  right: 40px;
  padding: 4px 9px;
  border-radius: 50%;
  color: #fafafa;
  background-color: #9356dc;
}

.choice__btn li {
  width: 390px;
  counter-increment: step;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  margin-top: 20px;
  border-radius: 15px;
  -webkit-box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #cecece23;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #030303;
}

.choice__btn li::before {
  content: counter(step);
}

.choice__btn li i {
  margin: 0px 20px 0px -5px;
  color: #918f8f;
  font-size: 19px;
}

.order {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 30px 0;
  padding: 20px;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  background-color: #9356dc;
}

.order a {
  color: #ffff;
  font-family: "Roboto", sans-serif;
}

.restaurant-card a {
  border: 1px solid;
}

.browse-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
}

.browse-restaurants h2 {
  width: 100%;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px 20px;
}

@media screen and (max-width: 520px) {
  .browse-restaurants h2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.browse-restaurants article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.browse-restaurants .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 435px;
  border-radius: 20px 20px 0px 0px;
  margin: 10px 15px;
}

.browse-restaurants .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 165px;
  border-radius: 20px 20px 0px 0px;
}

.browse-restaurants .card a {
  color: transparent;
  position: relative;
  bottom: 240px;
  width: 100%;
  height: 75%;
}

.browse-restaurants .card__new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  right: 20px;
  top: 15px;
  padding: 6px 11px;
  border-radius: 3px;
}

.browse-restaurants .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 4px 4px 8px rgba(107, 107, 107, 0.322);
          box-shadow: 4px 4px 8px rgba(107, 107, 107, 0.322);
  background-color: white;
}

.browse-restaurants .card__info h3,
.browse-restaurants .card p {
  margin: 2px 20px;
}

.browse-restaurants .card__info h3 {
  margin-top: 10px;
}

.browse-restaurants .card__info p {
  margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
  .browse-restaurants .card {
    margin: 0 5px;
  }
}

.browse-restaurants .heart {
  position: absolute;
  font-size: 30px;
  right: 30px;
  bottom: 20px;
}

main {
  background-color: #f6f6f6;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -50px;
  border-radius: 30px;
  background-color: #f6f6f6;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  font-family: "Shrikhand", cursive;
  margin: 0 25px;
}

.name i {
  font-size: 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6f6f6;
}

.menu h3 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.menu h3::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  margin: -15px 0;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px;
          box-shadow: 4px 4px 8px;
}

.menu h4 {
  width: 100%;
  margin: 10px 15px;
  padding: 0px;
}

.menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu p {
  margin: 0 10px;
  padding: 5px;
}

.menu__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 58px;
  bottom: 43px;
  left: 340px;
  width: 20px;
  background-color: #99e2d0;
  color: white;
  border-radius: 0px 10px 10px 0px;
  -webkit-transform: scalex(1);
          transform: scalex(1);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  background-color: #353535;
}

.contact h2 {
  color: #ffff;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin: 0;
  padding: 20px 20px 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about ul {
  margin: 0;
  padding: 10px 20px;
}

.about li {
  text-decoration: none;
  margin-top: 5px;
  list-style: none;
}

.about a {
  font-family: "Roboto", sans-serif;
  color: #ffff;
}

.about i {
  padding-right: 8px;
}

.about li .two {
  width: 15px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */