@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
h1 {
  margin: 0;
  width: 100%;
  text-align: center;
}

h1 .title {
  padding: 15px;
  width: 200px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 4px 4px inset #c0c0c0c0;
          box-shadow: 0px 4px 4px inset #c0c0c0c0;
  font-size: 18px;
}

.home__location i {
  padding: 0 15px;
  color: #020202;
}

.home__location p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
}

.home__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.home__slogan h2 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  padding: 20px 10px;
}

.home__slogan p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 15px 20px 15px;
}

.btn {
  text-align: center;
  padding: 16px;
  width: 200px;
  border-radius: 50px;
  -webkit-box-shadow: -4px 4px 8px #9c9a9a93;
          box-shadow: -4px 4px 8px #9c9a9a93;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
}

.btn a {
  color: #ffff;
}

.btn:hover {
  -webkit-box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.322);
          box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.322);
}

.page-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.return {
  position: relative;
  top: 45px;
  left: 40px;
  font-size: 20px;
  color: black;
}

.pict-note img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.choice h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.choice-btn {
  margin: 0 40px;
  padding-bottom: 50px;
}

.choice-btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.choice-btn li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  margin-top: 20px;
  border-radius: 15px;
  -webkit-box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #cecece23;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #030303;
}

.number {
  position: relative;
  right: 35px;
  text-align: center;
  border: 1px solid white;
  width: 22px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffff;
}

.choice-btn li i {
  margin: 0px 20px 0px -5px;
  color: #918f8ffd;
  font-size: 18px;
}

.order {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 30px 0;
  padding: 20px;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  background-color: #9356dc;
}

.order a {
  color: #ffff;
  font-family: "Roboto", sans-serif;
}

.browse-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
}

.browse-restaurants h2 {
  width: 100%;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 20px 0px 0px;
  width: 400px;
  margin: 20px 50px 30px;
}

.restaurant-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 185px;
  border-radius: 20px 20px 0px 0px;
}

.new {
  position: relative;
  margin: 15px;
  top: 40px;
  left: 135px;
  padding: 8px;
  background-color: #99e2d0;
}

.card-rest {
  position: relative;
  -webkit-box-shadow: 4px 4px 8px rgba(107, 107, 107, 0.322);
          box-shadow: 4px 4px 8px rgba(107, 107, 107, 0.322);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  font-family: "Roboto", sans-serif;
  border-radius: 0px 0px 20px 20px;
}

.card-rest h3,
p {
  margin: 2px 20px;
}

.card-rest h3 {
  margin-top: 10px;
}

.card-rest p {
  margin-bottom: 20px;
}

.heart {
  position: absolute;
  font-size: 20px;
  right: 30px;
  bottom: 20px;
}

.restaurant {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -50px;
  border-radius: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  font-family: "Shrikhand", cursive;
  margin: 0 30px;
}

.menu .icon {
  font-size: 22px;
}

.menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 30px;
}

.menu__card h3 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 10px 20px;
}

.menu__choice {
  background-color: cornflowerblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 30px;
  padding: 8px;
  border-radius: 20px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  background-color: #353535;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact h3 {
  color: #ffff;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin: 0;
  padding: 20px 20px 10px;
}

.about li {
  text-decoration: none;
  color: #ffff;
  margin-top: 5px;
}

.about ul {
  margin: 0;
  padding: 15px 20px;
}

.about a {
  list-style: none;
}

.about i {
  padding-right: 8px;
}
/*# sourceMappingURL=style.css.map */