// footer
footer{
background-color:$color-black;

}
.about{
display: flex;
flex-direction: column;
justify-content: space-between;
width:100%;
}
.contact h3{
color: $color-txt-white;
font-family: $title;
font-size: 20px;
margin: 0;
padding:20px 20px 10px;
}
.about li{
text-decoration: none;
color: $color-txt-white;
margin-top:5px;
}
.about ul{
margin: 0;
padding: 15px 20px;
}
.about a{
list-style: none;
}
.about i{
padding-right: 8px;
}