// section restaurants
.browse-restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
}
.browse-restaurants h2 {
  width: 100%;
  font-size: 25px;
  font-family: $text;
  margin: 20px 20px 0;
  align-items: center;
}
.restaurant-card {
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  width: 400px;
  margin: 20px 20px 30px;
}
.restaurant-card img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}
.new {
  position: relative;
  bottom: 165px;
  left: 310px;
  z-index: 1;
  padding: 8px;
  background-color: $color-tertiary;
}

.card-rest {
position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  font-family: $text;
  margin: -20px 0;
  border-radius: 0px 0px 20px 20px;
}

.card-rest h3,
p {
  margin:2px 20px;
}
.card-rest h3 {
  margin-top:10px;
}
.card-rest p {
  margin-bottom:20px;
}
.heart{
 position:absolute;
 font-size: 20px;
 right: 30px;
 bottom: 20px;
}
