.browse-restaurants{
background-color: rgb(175, 168, 175);
}
// .new{
// position: absolute;
// left: 210px;
// bottom: 205px;
// padding:5px 10px;
// border-radius: 2px;
// font-family: $text;
// font-weight: bold;
// background-color: $color-tertiary;
// color: green;
// z-index: 1;
// }
.restaurant-card {
  border: 1px solid;
  width: 300px;
}
.restaurant-card img {
  width: 100%;
}