@mixin h2 {
  font-size: 30px;
  font-family: $font-text;
}
@mixin btn {
  background: $color-button;
  border-radius: $size-button;
  box-shadow: $box-shadow;
  text-align: center;
  font-family: $font-text
}

@mixin btn-hover {
  opacity: 0.7;
  box-shadow: 3px 4px 15px 1px #9356dc;
  border: transparent;
  transition: ease-in 0.5s;
}