@mixin h2 {
  font-size: 30px;
  font-family: $font-text;
}
@mixin btn {
  background: $color-button;
  border-radius: $size-button;
  box-shadow: $box-shadow;
  text-align: center;
  font-family: $font-text
}

@mixin btn-hover {
  opacity: 0.7;
  box-shadow: -5px 4px 12px #9356dc;
  border: transparent;
}