// variables

// color
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
// color header
$color-font-location:#eaeaea;
$color-title: black;
// color background
$color-background:#f6f6f6;
// color footer
$color-black:#353535;
$color-text:#ffff;
// style for button
$box-shadow:4px 4px 12px #bfbfbf;
$color-hover:linear-gradient(  #fd8fde, #a777e2);
$color-button:linear-gradient(to bottom right, $color-secondary, $color-primary);
$size-cards:15px;
$size-button:30px;
//policefont title
$font-text: "Roboto", sans-serif;
$font-title: "Shrikhand", cursive;
