@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import "../sass/utils/anim.css";
h1 {
  margin: 0;
  width: 100%;
  text-align: center;
}
h1 img {
  padding: 20px;
  width: 200px;
}

.home {
  display: flex;
  flex-direction: column;
}
.home__location {
  display: flex;
  justify-content: center;
  padding: 11px;
  background-color: #eaeaea;
  box-shadow: 4px 4px 12px #bfbfbf;
  font-size: 18px;
}
.home__cities {
  border: none;
  padding: 10px;
  background-color: transparent;
}
.home__location i {
  padding: 0 15px;
  color: #020202;
}
.home__location p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
}

::placeholder {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.home__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.home__slogan h2 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  padding: 20px 10px;
}
.home__slogan p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 15px 20px 15px;
}

.btn {
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 4px 4px 12px #bfbfbf;
  margin-top: 10px;
  padding: 15px;
  width: 190px;
  text-align: center;
  border-radius: 30px;
  color: #ffff;
}
.btn a {
  padding: auto;
  color: #f6f6f6;
}

.btn:hover {
  opacity: 0.7;
  box-shadow: -5px 4px 12px #9356dc;
  border-color: transparent;
  border-color: 2px solid #ff79da;
}

.return {
  position: absolute;
  left: 30px;
  top: 20px;
  color: black;
  font-size: 30px;
}

.ban img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.choice h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.choice__btn {
  display: flex;
  margin: 0 35px;
  padding-bottom: 50px;
}
.choice__btn ol {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  counter-reset: step;
  padding: 0;
  margin: 0;
}

li::before {
  position: relative;
  right: 40px;
  padding: 4px 9px;
  border-radius: 50%;
  color: #fafafa;
  background-color: #9356dc;
}

.choice__btn li {
  width: 390px;
  counter-increment: step;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #cecece28;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #030303;
}
.choice__btn li a {
  color: black;
}
.choice__btn li::before {
  content: counter(step);
}

.choice__btn li i {
  margin: 0px 20px 0px -5px;
  color: #f5edff7a;
  font-size: 19px;
}

.choice__btn ol li:hover {
  background-color: #ff79d927;
  transition: ease-in 0.5s;
}
.choice__btn ol li:hover i {
  color: #9356dc;
}
.choice__btn ol li:hover a {
  color: #9356dc;
  transition: ease-in-out 0.6s;
}

.order {
  align-self: center;
  margin: 30px 0;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 4px 4px 12px #bfbfbf;
  width: 200px;
  text-align: center;
  font-size: 20px;
}
.order a {
  color: #ffff;
  font-family: "Roboto", sans-serif;
}

.order:hover {
  opacity: 0.7;
  box-shadow: -5px 4px 12px #9356dc;
}

.browse-restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
}
.browse-restaurants h2 {
  width: 100%;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px 20px;
}
@media screen and (max-width: 520px) {
  .browse-restaurants h2 {
    align-items: flex-start;
  }
}
.browse-restaurants article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.browse-restaurants .card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 435px;
  border-radius: 20px 20px 0px 0px;
  margin: 10px 15px;
}
.browse-restaurants .card img {
  object-fit: cover;
  width: 100%;
  height: 165px;
  border-radius: 20px 20px 0px 0px;
}
.browse-restaurants .card a {
  color: transparent;
  position: relative;
  bottom: 240px;
  width: 100%;
  height: 93%;
}
.browse-restaurants .card__new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  right: 20px;
  top: 15px;
  padding: 6px 11px;
  border-radius: 3px;
}
.browse-restaurants .card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 4px 4px 8px rgba(107, 107, 107, 0.322);
  background-color: white;
}
.browse-restaurants .card__info h3,
.browse-restaurants .card p {
  margin: 2px 20px;
}
.browse-restaurants .card__info h3 {
  margin-top: 10px;
}
.browse-restaurants .card__info p {
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .browse-restaurants .card {
    margin: 0 5px;
  }
}
.browse-restaurants .heart {
  position: absolute;
  font-size: 25px;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 5;
  opacity: 1;
}
.browse-restaurants i:hover {
  color: transparent;
  font-weight: 600;
}

main {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

/* contenue de la page */
.bloc-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 35px;
}

/* titre et icon */
.restaurant-name {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  padding-top: 10px;
  font-family: "Shrikhand", cursive;
  background-color: #f6f6f6;
  width: 100%;
}
.restaurant-name h2,
.restaurant-name i {
  display: flex;
  white-space: nowrap;
  margin: 0 20px;
  padding: 10px;
  font-size: 25px;
}
.restaurant-name i {
  color: #9356dc;
}

/* titre des menu */
/* carte de menu */
.menu-card {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* bloc menu entree */
}
.menu-card h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99e2d0;
  width: 13%;
}
.menu-card__One, .menu-card__Two, .menu-card__Three {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 380px;
  margin: 10px;
}

.menu {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  box-shadow: 4px 4px 12px #bfbfbf;
  border-radius: 15px;
  margin-bottom: 20px;
}
.menu h4,
.menu p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px;
}
.menu p {
  padding-top: 8px;
  font-size: 13px;
  font-weight: 400;
}
.menu__choice {
  width: 280px;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 15px;
  padding: 8px 15px;
  margin-left: auto;
}
.menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
}
.menu__check:hover {
  -webkit-animation: check 2s ease-in both;
  animation: check 2s ease-in both;
}
.menu__check i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 18px;
  color: white;
}

/* btn commander */
.order {
  align-self: center;
  margin-top: 20px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 15px;
  border-radius: 30px;
  box-shadow: 4px 4px 12px #bfbfbf;
  width: 200px;
  text-align: center;
  font-size: 20px;
}
.order:hover {
  opacity: 0.7;
  box-shadow: -5px 4px 12px #9356dc;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  background-color: #353535;
}

.contact h2 {
  color: #ffff;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin: 0;
  padding: 20px 20px 10px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.about ul {
  margin: 0;
  padding: 10px 20px;
}
.about li {
  text-decoration: none;
  margin-top: 5px;
  list-style: none;
}
.about a {
  font-family: "Roboto", sans-serif;
  color: #ffff;
}
.about i {
  padding-right: 8px;
}
.about li .two {
  width: 15px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
