// general
.principal {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* debut partie loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  z-index: 100;
  inset: 0px;
  animation: loader 3s ease-in forwards;
}
.word {
  position: absolute;
  top: 200px;
  text-align: center;
  background: -webkit-linear-gradient(#ff79da, #9356dc, #99e2d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 80px;
  width: 600px;
  height: 100px;
  animation: word 1s ease-in-out 1s 1 both;
}
.loader div {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  right: 50%;
  border-top: 20px solid;
  border-radius: 50%;
}
.loader .disc-One {
  transform: skew(-10deg) translateX(50px) rotate(45deg);
  animation: border-One 1.2s ease infinite;
  border-color: #9356dc;
}
.loader .disc-Two {
  transform: skew(-10deg) rotate(165deg);
  animation: border-Two 1.2s ease infinite;
  border-color: #99e2d0;
}
.loader .disc-Three {
  transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(285deg);
  animation: border-Three 1.2s ease infinite;
  border-color: #ff79da;
}
// fin du loader
