// header de la page d'acceuil
h1 {
  margin: 0;
  width: auto;
  text-align: center;
  & img {
    padding: 20px;
    width: 250px;
  }
}
// part location city
.home {
  display: flex;
  flex-direction: column;
  &__location {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $color-font-location;
    box-shadow: $box-shadow;
    font-size: 15px;
    font-weight: bold;
  }
  &__cities {
    border: none;
    background-color: transparent;
    padding: 15px;
  }

  &__location p {
    font-family: $font-text;
    font-weight: 500;
    margin: 0;
  }
}
input[type="search"]:focus {
  outline: none;
  font-family: $font-text;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
::placeholder {
  border: 1px transparent;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: $font-text;
}

// part title and slogan
.home__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background-color: $color-background;
  & h2 {
    @include h2;
    margin: 0;
    text-align: center;
    padding: 20px 10px;
  }
  & p {
    font-family: $font-text;
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    padding: 0px 15px 20px 15px;
  }
  & a {
    @include btn;
    padding: 15px;
    color: $color-text;
    &:hover {
      @include btn-hover;
    }
  }
}
// fin du header de la page d'acceuil

// debut du header des pages restaurants
.return {
  position: absolute;
  left: 10px;
  top: 30px;
  color: black;
  font-size: 25px;
}
.ban img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
