// queries pour le loader
@media screen and (max-width: 662px) {
  .word {
    line-height: 80px;
    font-size: 40px;
    height: 80px;
  }
  .loader div {
    width: 50px;
    height: 50px;
    border-top: 10px solid;
    top: 300px;
    right: 50%;
  }
}
// queries pour les boutons choix
@media screen and (max-width: 1020px) {
  .choice__btn li {
    width: 40%;
  }
}
@media screen and (max-width: 1040px) {
  .choice__btn li {
    width: 90%;
  }
}

@media screen and (max-width: 460px) {
  .choice__btn li {
    width: 90%;
    font-size: 13px;
    & i {
      font-size: 15px;
    }
  }
  .choice li::before {
    right: 35px;
    padding: 2px 6px;
  }
}
// queries pour les cartes de restaurant
@media screen and (max-width: 960px) {
  .card {
    width: 80%;
    & img {
      height: 200px;
    }
  }
}
@media screen and (max-width: 620px) {
  .card {
    width: 90%;
    & img {
      height: 200px;
    }
  }
}

// queries pour les boutons choix menus
@media screen and (max-width: 1200px) {

  .menu-card__Starter,
  .menu-card__Dishes,
  .menu-card__Dessert {
    justify-content: center;
    width: 90%;
  }
  .menu-card h3{
  width: 5%;
  }
}
@media screen and (min-width:1600px) {
  .menu-card__Starter,
  .menu-card__Dishes,
  .menu-card__Dessert {
    justify-content: center;
    width: 32%;
  }
  
}
@media screen and (max-width: 992px) {
  .menu-card h3{
  width: 8%;
  }
}
@media screen and( max-width:550px) {
   .menu-card h3{
  width: 14%;
  }
}
@media screen and (max-width: 420px) {
  .restaurant-name h2{
  font-size: 25px;
  }
  .menu-card {
    justify-content: center;
    & h3{
    width: 16%;
    }
  }
  .restaurant-name .heart__vide {
  font-size: 20px;

  }
 .restaurant-name .heart__plein {
    font-size: 20px;
  }
  .menu-card__Starter,
  .menu-card__Dishes,
  .menu-card__Dessert {
    justify-content: center;
    width: 90%;
  }

  .menu-card__Price {
    font-size: 12px;
    padding: 8px 5px;
  }
}
// queries pour le footer
@media screen and (max-width: 992px) {
  .contact h2 {
    font-size: 20px;
    text-align: start;
  }
  .about ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
}
