// queries pour le loader
@media screen and (max-width: 662px) {
  .word {
    line-height: 80px;
    font-size: 40px;
    height: 80px;
  }
  .loader div{
  width: 50px;
  height: 50px;
  border-top: 10px solid;
  top: 300px;
  right: 50%;
  }
}
// queries pour les boutons choix
@media screen and ( max-width:1020px) {
  .choice__btn li {
  width: 40%;
  }
}
@media screen and ( max-width:800px) {
  .choice__btn li {
  width: 65%;
  }
}


@media screen and (max-width: 460px) {
  .choice__btn li {
  width: 90%;
    font-size: 13px;
    & i {
      font-size: 15px;
    }
  }
  .choice li::before {
    right: 35px;
    padding: 2px 6px;
  }
}
// queries pour les cartes de restaurant
@media screen and (max-width: 960px) {
  .card {
    width: 80%;
    & img {
      height: 200px;
    }
  }
}
@media screen and (max-width: 620px) {
  .card {
    width: 90%;
    & img {
      height: 170px;
    }
    .heart__plein{
    right: 30px;
    }
  }
}

// queries pour les boutons choix menus
@media screen and (max-width: 420px) {
.heart__vide {
  right: 30px;
  bottom: 30px;
  }
 .restaurant-name .heart__plein{
  right:25px;
  bottom: 30px;
  }
  
  .menu-card {
    justify-content: center;
  }
  .menu-card__Starter,
  .menu-card__Dishes,
  .menu-card__Dessert {
    justify-content: center;
    width: 295px;
  }
  .menu-card__Choice h4 {
    font-size: 14px;
    }
  .menu-card__Choice  p {
      font-size: 12px;
    
  }
  .menu-card__Price {
  font-size: 12px;
  padding:8px 5px;
  }
}
// queries pour le footer
@media screen and (max-width: 992px) {
  .contact h2 {
    font-size: 20px;
    text-align: start;
  }
  .about ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
}
