main {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}
// style pour le pages menu

/* contenue de la page */
.bloc-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 35px;
}
/* titre et icon */
.restaurant-name {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  padding-top: 10px;
  font-family: $font-title;
  background-color: #f6f6f6;
  width: 100%;
  h2,
  i {
    display: flex;
    white-space: nowrap;
    margin: 0 20px;
    padding: 10px;
    font-size: 25px;
    &:hover {
      color: transparent;
      font-weight: 600;
    }
  }
}
.heart {
  font-size: 25px;
  cursor: pointer;
  z-index: 5;
  opacity: 1;
}

/* titre des menu */
/* carte de menu */
.menu-card {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  h3 {
    font-family: $font-text;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 13%;
  }
  /* bloc menu entree */
  &__Starter,
  &__Dishes,
  &__Dessert {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 380px;
    margin: 10px;
  }
  &__Title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__Choice {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 15px;
    margin-bottom: 20px;
    & h4,
    p {
      width: auto;
      font-family: $font-text;
      font-size: 16px;
      margin: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & p {
      padding-top: 8px;
      font-size: 13px;
      font-weight: 400;
    }
  }
  &__Price {
    font-family: $font-text;
    display: flex;
    align-items: flex-end;
    left: 15px;
    padding: 8px 20px;
    margin-left: 20px;
  }
  &__Check {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    width: auto;
    border-radius: 0px 15px 15px 0px;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f2f2f2;
      width: 100%;
      margin: 0;
      font-size: 18px;
    }
  }
}
