main {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}
// style pour le pages menu

/* contenue de la page */
.bloc-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 35px;
}
/* titre et icon */
.restaurant-name {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  padding-top: 10px;
  font-family: $font-title;
  background-color: #f6f6f6;
  width: 100%;
  h2,
  .heart__vide {
    display: flex;
    white-space: nowrap;
    top: 40px;
    padding: 10px;
    font-size: 30px;
    :hover {
      animation: coeur-vide 1s forwards linear;
      cursor: pointer;
    }
  }
}
.restaurant-name .heart__plein {
  position: absolute;
  font-size: 30px;
  right: 40px;
  bottom: 35px;
  opacity: 0;
  background: $color-hover;
  -webkit-background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transform: scale(0);
}
/* carte de menu */
.menu-card {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  h3 {
    font-family: $font-text;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 13%;
  }
  /* bloc menu entree */
  &__Starter,
  &__Dishes,
  &__Dessert {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 380px;
    margin: 10px;
  }
  &__Title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__Choice {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 15px;
    margin-bottom: 20px;
    & h4,
    p {
      width: auto;
      font-family: $font-text;
      font-size: 16px;
      margin: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & p {
      padding-top: 8px;
      font-size: 13px;
      font-weight: 400;
    }
  }
  &__Price {
    font-family: $font-text;
    display: flex;
    align-items: flex-end;
    left: 15px;
    padding: 8px 20px;
    margin-left: 20px;
  }
}
// animation des boutons
.menu-card__Starter {
  animation: Menu-Card 2s ease-in-out 1.2s normal both;
}
.menu-card__Dishes {
  animation: Menu-Card 2s ease-in-out 2s normal both;
}
.menu-card__Dessert {
  animation: Menu-Card 3s ease-in-out 3s normal both;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  width: auto;
  border-radius: 0px 15px 15px 0px;
}
label i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  margin: 0;
  font-size: 18px;
}
// <label for="valid" class="menu-card__check">
// <input type="radio" id="valid" class="check"/>
// .menu-card__Choice label + i{
// display: flex;
// justify-content: center;
// color:transparent;
// cursor: pointer;
// }
input[type="radio"].fas {
  // display: none;
}
input[type="radio"]#btn-check::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  border: 2px solid red;
  font-weight: 900;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.808);
}

.menu-card__Choice:hover label {
  background-color: #99e2d0;
  width: 150px;
  transition-duration: 1s;
  animation: check 0.8s ease-in-out reverse;
}
.menu-card__Choice:hover label + i {
  transition-duration: 1.5s;
  animation: valid-check 0.8s ease-in;
}
