main {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}
// style pour le pages menu

/* contenue de la page */
.bloc-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 30px;
}
/* titre et icon */
.restaurant-name {
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-content:center ;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  padding-top: 10px;
  font-family: $font-title;
  background-color: #f6f6f6;
  width: 100%;
  h2,
  .heart__vide {
    display: flex;
    white-space: nowrap;
    align-self: center;
    padding: 10px;
    font-size: 30px;
    :hover {
      animation: coeur-vide 1s forwards linear;
      cursor: pointer;
    }
  }
}
.restaurant-name .heart__plein {
  position: absolute;
  align-self: center;
  font-size: 30px;
  right: 40px;
  bottom: 39px;
  opacity: 0;
  background: $color-hover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transform-origin: center;
}
/* carte de menu */
.menu-card {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 100%;
  h3 {
    font-family: $font-text;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 13%;
  }
  /* bloc menu entree */
  &__Starter,
  &__Dishes,
  &__Dessert {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 28%;
    margin: 10px;
  }
  &__Title span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: $font-text;
    font-size: 14px;
    margin: 5px;
  }
  &__Title :nth-child(1) {
    font-size: 16px;
    font-weight: 600;
  }
  &__Choice {
    box-sizing: border-box;
    display: flex;
    width: auto;
    box-shadow: $box-shadow;
    margin-bottom: 25px;
  }
}
.bloc-menu-Choice{
  display: flex;
}
.menu-bloc__Starter {
  width: 100%;
}
.menu-bloc__Dishes {
  width: 100%;
}
.menu-bloc__Dessert {
  width: 100%;
}
.menu-card__Choice {
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
}
.menu-card__Title {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.menu-card__Title span {
  font-family: $font-text;
  width: auto;
  font-size: 14px;
}
.menu-card__Price {
  font-family: $font-text;
  font-weight: 600;
  position: relative;
  align-self: flex-end;
  margin-left: auto;
  padding: 8px 20px;
}
input[type="radio"] {
  display: none;
}
label .fas {
  border-radius: 0px 15px 15px 0px;
  right: -7px;
  height: 78px;
  color: transparent;
}
input[type="radio"]:checked + .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10px;
  border-radius: 0px 12px 12px 0px;
  background-color: rgb(153, 226, 208);
  transition-duration: 1s;
  animation: check 0.8s ease-in reverse both;
}
.menu-card__Choice:checked .fas {
  transition-duration: 1s;
  animation: check 0.8s ease-in-out reverse both;
}

// animation des boutons
.menu-card__Starter {
  animation: Menu-Card 2s ease-in-out 1.2s normal both;
}
.menu-card__Dishes {
  animation: Menu-Card 2s ease-in-out 2s normal both;
}
.menu-card__Dessert {
  animation: Menu-Card 3s ease-in-out 3s normal both;
}

.btn-Order {
  border: none;
  color: white;
}
