main {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}
// style pour le pages menu

/* contenue de la page */
.bloc-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 35px;
}
/* titre et icon */
.restaurant-name {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  padding-top: 10px;
  font-family: $title;
  background-color: #f6f6f6;
  width: 100%;
  & h2,
  i {
    display: flex;
    white-space: nowrap;
    margin: 0 20px;
    padding: 10px;
    font-size: 25px;
  }
  & i {
    color: #9356dc;
  }
}
/* titre des menu */
/* carte de menu */
.menu-card {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  & h3 {
    font-family: $text;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 13%;
  }
  /* bloc menu entree */
  &__One,
  &__Two,
  &__Three {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 380px;
    margin: 10px;
  }
}
.menu {
  box-sizing: border-box;
  display: flex;

  width: 100%;
  box-shadow: $shadow;
  border-radius: 15px;
  margin-bottom: 20px;
  & h4,
  p {
    font-family: $text;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px;
  }
  & p {
    padding-top: 8px;
    font-size: 13px;
    font-weight: 400;
  }
  &__choice {
    width: 280px;
  }
  &__price {
    display: flex;
    align-items: flex-end;
    position: relative;

    left: 15px;
    padding: 8px 15px;
    margin-left: auto;
  }
  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    animation-name: check;
    opacity: 0;
    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      font-size: 18px;
      color: white;
    }
  }
}
/* btn commander */
.order {
  align-self: center;
  margin-top: 20px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 20px;
  border-radius: 30px;
  box-shadow:$shadow;
  width: 200px;
  text-align: center;
  font-size: 20px;
  &:hover {
    opacity: 0.7;
    box-shadow: -5px 4px 12px #9356dc;
  }
}
