// variables mixin fonctions %placeholder

// color
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
// color header
$color-light-gray:#eaeaea;

// color footer
$color-black:#353535;
$color-txt-white:#ffff;

// police
$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;

